.row
     #personal-header.well
          .row
               .col-md-12.wrap
                    .left.avatar
                         img(data-src='holder.js/96x96' alt='' holder)
                    .right.about
                         .information
                              h2 Deny Prasetia Taruma W
                                   small (denyptw)
                              ul.list-unstyled
                                   li
                                        p.m-b-xs Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                   li
                                        a(href='') http://denyptw.com/
                                   //li
                                   //     form.form-inline.m-t-xs(action='', method='POST')
                                   //          .form-group
                                   //               input.form-control(type='date', placeholder='Periode')
                                   //          button.btn.btn-default(type='submit', style='margin-left: 5px;') Filter
                         .btn-group
                              a.btn.btn-default(href='') Button -1
                              a.btn.btn-default(href='') Button -2
