// Meta
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport',              content='width=device-width, initial-scale=1')
meta(name='description',           content='')
meta(name='author',                content='')

// Title
title Bistro

//Favicon
link(rel='apple-touch-icon',       href='/img/icon/apple-touch-icon.png')
link(rel='icon',                   href='/img/icon/favicon.ico')

// Style
link(rel='stylesheet',             href='/css/style.css')
