doctype html
html(lang='en')
     head
          include ../content/external-style
     body


          #wrapper.layout-box
               include ../content/navbar/view
               .container.full-height
                    .row
                         #content.col-md-12
                              #page-404-content.row
                                   .col-md-6.col-md-offset-3.text-center
                                        h1 Not Found(404)
                                        .alert.alert-danger.text-left
                                             p The 404 or Not Found error message is an HTTP standard response code indicating that the client was able to communicate with a given server, but the server could not find what was requested.




          include ../content/external-javascript
