doctype html
html(lang='en')
     head
          include ../content/external-style
     body


          #wrapper.layout-width
               include ../content/navbar/view
               .container.full-height
                    include ../content/personal-header/view
                    .row
                         #content
                              row
                                   .col-md-12
                                        ul.nav.nav-tabs(role='tablist')
                                             li.active(role='presentation')
                                                  a(href='#tab-bill', aria-controls='list-bill', role='tab', data-toggle='tab') Bill in
                                                       span.badge.alert-danger.m-l-xs 2015-12-01
                                             li(role='presentation')
                                                  a(href='#tab-employee', aria-controls='list-bill', role='tab', data-toggle='tab') List Employee
                                                       span.badge.alert-success.m-l-xs 2015-12-01
                                        .tab-content
                                             #tab-bill.tab-pane.active(role='tabpanel')
                                                  .col-md-12
                                                       .row.p-t-lg
                                                            .user-list
                                                                 - for (var i = 0; i < 6; i++) {
                                                                      .col-md-4.col-sm-6.col-xs-12.user
                                                                           .well
                                                                                .left
                                                                                     img(data-src='holder.js/60x60' alt='' holder)
                                                                                .center
                                                                                     ul.list-unstyled
                                                                                          li
                                                                                               a(href='')
                                                                                                    h4 Deny Prasetia Taruma W
                                                                                          li   100 followers
                                                                                .right
                                                                                     ul.list-unstyled.list-inline.pull-right
                                                                                          li
                                                                                               a.btn.btn-warning.btn-xs(href='') Payment
                                                                           .clearfix
                                                                 - }

                                             #tab-employee.tab-pane(role='tabpanel')
                                                  .col-md-12
                                                       .row.p-t-lg
                                                            .user-list
                                                                 - for (var i = 0; i < 12; i++) {
                                                                      .col-md-4.col-sm-6.col-xs-12.user
                                                                           .well
                                                                                .left
                                                                                     img(data-src='holder.js/60x60' alt='' holder)
                                                                                .center
                                                                                     ul.list-unstyled
                                                                                          li
                                                                                               a(href='')
                                                                                                    h4 Deny Prasetia Taruma W
                                                                                          li   100 followers
                                                                           .clearfix
                                                                 - }




          include ../content/external-javascript
