doctype html
html(lang='en')
     head
          include ../content/external-style
     body


          #wrapper.layout-width
               include ../content/navbar/view
               .container.full-height
                    .row
                         #content.col-md-12
                              p Get code into Bitbucket fast using Atlassian SourceTree or the command line Get code into Bitbucket fast using Atlassian SourceTree or the command line Get code into Bitbucket fast using Atlassian SourceTree or the command line Get code into Bitbucket fast using Atlassian SourceTree or the command line




          include ../content/external-javascript
