doctype html
html(lang='en')
     head
          include ../content/external-style
     body


          #wrapper.layout-width
               include ../content/navbar/view
               .container.full-height
                    include ../content/personal-header/view
                    .row
                         .col-md-12
                              div.table-responsive.m-t-xxs
                                   table.table.table-bordered.table-striped
                                        thead
                                             tr
                                                  th(rowspan='2') No
                                                  th(rowspan='2') Nama
                                                  th(rowspan='2') Periode
                                                  th(colspan='2') Gaji
                                                  th(rowspan='2') Total
                                             tr
                                                  th Pokok
                                                  th Insentive
                                        tbody
                                             - for (var i = 0; i < 12; i++) {
                                                  tr.extra-menu
                                                       td   #{i}
                                                       td   Deny Prasetia TW
                                                       td   2015-05
                                                       td   Rp 1000.00
                                                       td   Rp 1000.00
                                                       td   Rp 2000.00
                                             - }
                                             tr
                                                  td(colspan='5').text-right
                                                       strong Total Pendapatan
                                                  td(rowspan='2') Rp 24000.00




          include ../content/external-javascript
